@font-face {
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'ean13_font';
  src: url('../fonts/ean13.woff')}

.ean13_font {
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'ean13_font';
  font-size:120px;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
