@font-face {
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'ean13_font';
  src: url('../fonts/ean13.woff');
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.ean13_font {
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'ean13_font';
  font-size: 10rem;
}

body, select, input {
  font-size: 1.2rem;
}

#barcode > span {
  display:list-item;
}
